.footer
  .container
    ul.colum-1
      li
        a(href="#") Links
      li
        a(href="#") Favoritos
      li
        a(href="#") Mis paginas
    ul.colum-2
      li
        a(href="#") Conmunicaciones
      li
        a(href="#") Tecnologia
      li
        a(href="#") Encuentra las tiendas