.footer
  .container
    .row
      .col-left
        .row
          .container1
            .left
              img(src="/images/ibm-premier_business_partner.png", alt="")
            .rigth
              h4 Our leadership in Latin America has earned us recognition as a Premier IBM Business Partner.
          hr.ligth
          .container-rights
            .row
              p ©   All rights reserved ©2012 Avatar SAC
      .col-rigth
        h5.short Contact
        span.phone (511) 476-1090
        p.short (511) 476-1026
        p.short Fax: (511) 476-1088
        ul.list.icons.list-unstyled
          li
            i.icon.icon-envelope
            a(href="#") info@avatar-global.com
