extends layout
include menu
block header
  include banner-header
  +menu-p(drinks)


block content
  .body-container
    h1= title
    p Welcome to #{title}

    block catalog
      .container
        .content-fluid
          h2 hola como esta

block footer
  include footer